amqp==1.4.9
anyjson==0.3.3
argh==0.26.2
billiard==3.3.0.23
celery==3.1.24
Django==1.10.2
dropbox==6.9.0
kombu==3.0.37
pathtools==0.1.2
pyactiveresource==2.1.2
python-slugify==1.2.1
pytz==2016.7
PyYAML==3.12
readline==6.2.4.1
redis==2.10.5
reload==0.4
requests==2.11.1
ShopifyAPI==2.1.8
six==1.10.0
typing==3.5.2.2
Unidecode==0.4.19
urllib3==1.26.5
watchdog==0.8.3
webcolors==1.5
xlrd==1.0.0
