argh==0.26.1
Django==1.8.3
dropbox==6.8.0
pathtools==0.1.2
pyactiveresource==2.1.2
python-slugify==0.1.0
PyYAML==3.12
readline==6.2.4.1
reload==0.4
requests==2.11.1
ShopifyAPI==2.1.5
six==1.10.0
typing==3.5.2.2
Unidecode==0.4.16
urllib3==1.17
watchdog==0.8.3
webcolors==1.5
xlrd==0.9.4
